body {
	font-size: 12px;
	font-family: Arial;
	min-width:1024px;
}

a {
	color: #999;
}

a:hover {
	text-decoration: none;
	color: #C40000;
}

.top {
	padding-top: 5px;
	padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f2f2f2;
}

.top_middle{
	max-width:1024px;
	margin:0px auto;
}
.top span {
	margin-right: 20px;
	color: #999;
}

nav.top span, nav.top a {
	
	margin: 0px 10px;
}

