body{

  background-color: white;
}


.container{
   height: 800px;
   width: 320px;
   border: 1px solid gray;
  border-collapse: collapse;
   font-size:12px;

}

td{
   border-style:none; 
   line-height: 18px;
   text-indent: 10px;
}





.t1{

  font-size: 35px;
 
  font-weight: bold;
}

.b{

  font-weight: bold;
}

.t2{

  font-weight: bold;
  text-align: right;
}
.t3
{
  text-indent: 26px;
}

.t4
{
  text-indent: 42px;
}
.t5
{
text-indent: 67px;
}
